.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #121212;
}

.invert {
  filter: invert(1);
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Set the color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Set the border radius for a rounded appearance */
}

::-webkit-scrollbar-track {
  background-color: #666; /* Set the color of the scrollbar track (the area behind the thumb) */
}
